In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv('Dhoni Six records.csv')
dataset

  Team Batting    Over Bowler Run rate  Pitch  Six
0  IND   First  Middle   Spin     High    Dry   No
1  CSK  Second   Death   Seam     High  Green  Yes
2  IND   First  Middle   Seam      Low    Dry   No
3  CSK   First  Middle   Spin      Low  Green   No
4  IND  Second   Death   Seam      Low    Dry  Yes
5  CSk   First   Death   Spin     High    Dry  Yes
6  IND  Second   Death   spin      Low  Green  Yes
7  CSk   First   Death   Seam     High    Dry  Yes
8  IND   First  Middle   Spin      Low    Dry   No
9  IND  Second   Death   Seam     High  Green  Yes

In [3]:
print("The attributes are {}".format(list(dataset.columns[:-1])))
print("The Label Class is {}".format(dataset.columns[-1]))

The attributes are ['Team', 'Batting', 'Over', 'Bowler', 'Run rate', 'Pitch']
The Label Class is Six

In [4]:
def find_s(data):
    s=np.empty(shape=(len(data.columns)-1),dtype=object)
    data=data.values
    for instance in range(data.shape[0]):
        if data[instance,-1] == 'Yes':
            if s[0] is None:
                s=data[instance,:-1]
            else:
                for attribute in range(len(s)):
                    if s[attribute] is not data[instance][attribute]:
                        s[attribute]='?'
    return s

In [5]:
s=find_s(dataset)
print("The generalised Hypothesis is {}".format(s))

The generalised Hypothesis is ['?' '?' 'Death' '?' '?' '?']